<mat-card>
  <mat-card-title>Novo Produto</mat-card-title>
  <form>
    <mat-form-field>
      <input matInput placeholder="Nome" name="name" [(ngModel)]="product.nome">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Preço (R$)" name="price" [(ngModel)]="product.preco">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Quantidade" name="quality" [(ngModel)]="product.quantidade">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Tipo" name="type" [(ngModel)]="product.tipo">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Descrição" name="desc" [(ngModel)]="product.descricao">
    </mat-form-field>
  </form>
</mat-card>

<button mat-raised-button color="primary" (click)="createProduct()">
  Salvar
</button>
<button mat-raised-button color="warn" (click)="cancel()">
  Cancelar
</button>
