<form method="post" action="/novo-usuario">

    <div>
        <label>Name</label>
        <input type='text' required name="nome"/>
    </div>
    <div>
        <label>Email</label>
        <input type='text' required name="preco"/>
    </div>
    <div>
        <label>Email</label>
        <input type='text' required name="quantidade"/>
    </div>
    <div>
        <label>Email</label>
        <input type='text' required name="tipo"/>
    </div>
    <div>
        <label>Email</label>
        <input type='text' required name="descricao"/>
    </div>
    <div>
        <label>Email</label>
        <input type='text' required name="dtcadastro"/>
    </div>
    <input type="submit" class="submit btn btn-primary" value="Save">
</form>
</div>